<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Password Reset OTP</title>
    </head>
    <body style="font-family: Arial, sans-serif;">
        <h2>Hi <span th:text="${name}">User</span>,</h2>
        <p>We received a request to reset your password.</p>
        <p>Your one-time password (OTP) is:</p>
        <h1 style="color: #2c3e50;" th:text="${otp}">123456</h1>
        <p>This OTP is valid for <strong>10 minutes</strong>.</p>
        <p>If you didn't request this, please ignore this email.</p>
        <br/>
        <p>Thank you,</p>
        <p><strong>Secured System By Naveen Support Team</strong></p>
    </body>
</html>
